/* Global Styles */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  background: url("images/background.jpeg") center/cover no-repeat;
  position: relative;
}

.container p {
  position: relative;
  font-size: 48px;
  font-weight: 700;
  color: rgb(66, 66, 66);
  -webkit-backdrop-filter:blur(8px);
  backdrop-filter:blur(8px);
  padding: .5rem;
  border-radius:15px;
  border: 5px solid #424242;
}

.Signs {
  max-width: 1000px;
  max-height: 400px;
  width: 70%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border: 7px solid rgb(61, 61, 61);
  border-radius: 35px;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.message {
  font-size: 52px;
  font-weight: 600;
  text-transform: uppercase;
}

.Player,
.Computer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 30%;
  font-size: 42px;
  padding: 10px 25px;
}

.Player img,
.Computer img {
  width: 180px;
  height: 150px;
}

.buttons {
  max-width: 600px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.buttons img {
  width: 120px;
  background-color: white;
  border-radius: 15px;
  border:5px outset grey;
  transition: all .2s ease-in-out;
}

.restart {
  all: unset;
  width: 180px;
  height: 80px;
  border:5px outset grey;
  border-radius: 15px;
  background-color: rgb(219, 219, 219);
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.restart:active,
.buttons img:active{
  border:5px inset grey;
  transition: all .2s ease-in-out;
}

.Result {
  text-align: center;
}

.playerScore,
.computerScore {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
}

#playerScore {
  font-size: 45px;
  color: rgb(55, 230, 55);
}

#computerScore {
  font-size: 45px;
  color: rgb(230, 55, 55);
}

/* Responsive Design */
@media (max-width: 1240px) {
  .container p {
    font-size: 40px;
    font-weight: 700;
  }
  #playerScore,
  #computerScore {
    font-size: 32px;
  }
  .Player,
  .Computer {
    scale: 0.8;
  }
  .buttons {
    width: 60%;
    scale: 0.8;
  }
  .message {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .container p {
    font-size: 40px;
    font-weight: 700;
  }
  #playerScore,
  #computerScore {
    font-size: 26px;
  }
  .Signs{
    height: 220px;
    padding: .5rem;
  }
  .Player,
  .Computer {
    font-size: 32px;
    width: 25%;
    scale: 0.6;
  }
  .Player img,
  .Computer img{
    scale: .8;
  } 
  .buttons {
    font-size: 30px;
    width: 80%;
    scale: 0.6;
  }
  .message {
    font-size: 32px;
  }
}

@media (max-width:480px) {
  .container p {
    font-size: 30px;
    font-weight: 700;
  }
  #playerScore,
  #computerScore {
    font-size: 20px;
  }
  .Signs{
    width: 80%;
    height: 180px;
    padding: .5rem;
  }
  .Player,
  .Computer {
    font-size: 26px;
    width: 20%;
  }
  .Player img,
  .Computer img{
    scale: .8;
  } 
  .buttons {
    width: 400px;
    font-size: 20px;
    scale: .5;
  }
  .message {
    font-size: 20px;
  }
  .restart{
    position: absolute;
    top: 150px;
    left: 108px;
    font-size: 28px;
  }
}
